{% load static %}
<div class="nav-container">
  <div class="grid-container">
  <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg'%}" alt="" class="logo">
  <ul class="navigation">
  <li>
  <a href="{% url 'index' %}"
  {% if '/' == request.path %}
  class = "active"
  {% else %}
  class= ""
  {% endif %}
  >Home
  </a>
  </li>
  <li>
  <a href="{% url 'about' %}"
  {% if '/about' == request.path %}
  class = "active"
  {% else %}
  class= ""
  {% endif %}
  >About Us
  </a>
  </li>
  <li>
  <a href="{% url 'listings' %}"
  {% if '/listings/' == request.path %}
  class = "active"
  {% else %}
  class= ""
  {% endif %}
  >Listings
  </a>
  </li>
  </ul>
  </div>
</div>