{% extends "base.html" %}

{% block content %}
  <div class="login-page">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-5 float-center">
          <div class="log-in-box">
            <h3>Welcome!</h3>
            {% include "../../partials/_alerts.html" %}
            <form action="{% url 'login' %}" method="POST" data-abide novalidate>
              {% csrf_token %}
              <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> There are some errors in your form.</p>
              </div>
              <label>Username
                  <input type="text" placeholder="Username" required name="username">
              </label>
              <label>Password
                  <input type="password" placeholder="Password" required name="password">
              </label>
              <button type="submit" class="button submit">Log In</button>
              <p><a href="{% url 'register' %}">Not a member? Register here!</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}