{% extends "base.html" %}

{% block content %}
  <div class="login-page">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-8 float-center">
          <div class="log-in-box">
            <h3>Register</h3>
            {% include "../../partials/_alerts.html" %}
            <form action="{% url 'register' %}" method="POST" data-abide novalidate>
              {% csrf_token %}
              <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                  <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                  </div>
                </div>
                <div class="medium-6 cell">
                  <label>First Name*
                    <input type="text" placeholder="First Name" aria-errormessage="example1Error1" required name="first_name">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Last Name*
                    <input type="text" placeholder="Last Name" required name="last_name">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Username*
                    <input type="text" placeholder="Username" required name="username">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Email*
                    <input type="text" placeholder="Email" required required name="email">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Password*
                    <input type="password" id="password" placeholder="Password" required name="password">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Confirm Password*
                    <input type="password" placeholder="Confirm Password" required required pattern="alpha_numeric" data-equalto="password" aria-errormessage="example1Error3" name="password2">
                    <span class="form-error" id="example1Error3">
                      Passwords do not match
                    </span>
                  </label>
                </div>
                <div class="cell">
                  <button type="submit" class="button  submit float-center">Register</button>
                </div>
              </div>
            </form>
            <p><a href="{% url 'login' %}">Already a member? Log in here!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}