{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="page-header">
  <h2>About Us</h2>
</div>
<div class="content-section">
  <div class= "about-section">
  <div class="grid-container">
    <nav class="breadcrumb-container "aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>
          <span class="show-for-sr">Current: </span> About Us
        </li>
      </ul>
    </nav>
    <div class="grid-x grid-margin-x">
      <div class="cell small-8">
        <h3>We Search For The Perfect Home</h3>
        <h4>Another line about something interesting</h4>
        <img src="{% static 'img/thin-house.png' %}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius, libero id pulvinar egestas, quam turpis iaculis odio, eu blandit orci enim vel dui. Quisque luctus dolor tellus, cursus aliquet tortor lacinia ac. Curabitur purus
          massa, blandit eu egestas at, ultricies in tellus. Nunc bibendum tellus in ornare cursus. Fusce quis tincidunt arcu. Proin vitae dolor ut leo feugiat luctus at ut metus. Sed molestie augue magna, sit amet lacinia lorem vehicula eu.</p>
      </div>
      <div class="cell small-4">
        {% if mvp_realtors %}
          {% for realtor in mvp_realtors %}
          <div class="seller-of-the-month">
            <img src="{{ realtor.photo.url }}" alt="">
            <div class="seller-info">
              <h5>Seller Of The Month</h5>
              <h6>{{ realtor.name }}</h6>
              <p>{{ realtor.description }}</p>
            </div>
          </div>
          {% endfor %}
        {% else %}
        <h3>No Employee Of The Month</h3>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>

<div class="text-divider">
  <h3>We Work For You</h3>
  <p>Curabitur varius, libero id pulvinar egestas, quam turpis iaculis odio, eu blandit orci enim vel dui!</p>
</div>



{% endblock %}