{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<div class="property-search">
  <h2>Find Your Dream Home</h2>
  <h4>Thousands of beautiful properties for you</h4>
  <div class="grid-container">
          <form action="">
    <div class="property-search-bar grid-x grid-padding-x">
      <div class="medium-2 cell">
          <select>
            <option value="Location" data-content=>Location</option>
            <option value="Lithuania">Lithuania</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
      </div>
      <div class="medium-2 cell">
        <select>
          <option value="husker">Property Type</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
      <div class="medium-2 cell">
        <select>
          <option value="husker">Property Status</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
      <div class="medium-2 cell">
        <select>
          <option value="husker">Any Bedrooms</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
      <div class="medium-2 cell">
        <select>
          <option value="husker"><i class="fas fa-map-marker-alt"></i>Any Bathrooms</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </div>
      <div class="medium-2 cell">
        <button type="button" class="button">Search</button>
          </form>
      </div>
    </div>
  </div>

</div>
<div class="recent-container">
  <div class="grid-container">
    <div class="recent-listings">
      <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium">
        {% if listings %}
            {% for listing in listings %}
            <div class="cell small-4">
              <div class="listing-card margin-bottom">
                <div class="listing-card-head">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="{{ listing.photo_main.url }}" alt="" data-equalizer-watch>
                  <div class="content-details fadeIn-right">
                    <a href="{% url 'listing' listing.id %}">View More</a>
                  </div>
                </div>
                <div class="listing-card-bottom">
                  <h2>{{ listing.title }}</h2>
                  <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
                  <ul>
                    <li><i class="fas fa-bed"></i>{{ listing.bedrooms }} Bedrooms</li>
                    <li><i class="fas fa-bath"></i>{{ listing.bathrooms }} Bathrooms</li>
                    <li><i class="fas fa-th-large"></i>{{ listing.sqft }} Sqft</li>
                    <li><i class="fas fa-car"></i> {{ listing.garage }} Garage</li>
                  </ul>
                  <h3>£ {{ listing.price | intcomma }}</h3>
                  <hr>
                  <h4 class="float-left"><i class="fas fa-user"></i>{{ listing.realtor }}</h4>
                  <h4 class="float-right"> <i class="far fa-clock"></i>{{ listing.list_date | timesince }}</h4>
                  <span class="sale">For Sale</span>
                </div>
              </div>
            </div>
            {% endfor %}
        {% else %}
          <h3>No Listings Available</h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}