{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} | Home {% endblock %}

{% block content %}

<div class="property-search">
    <div class="grid-container">
  <div class="home-alert">
    {% include "../../partials/_alerts.html" %}
  </div>
  <h2>Find Your Dream Home</h2>
  <h4>Thousands of beautiful properties for you</h4>
    <form action="{% url 'search' %}">
      <div class="property-search-bar grid-x grid-padding-x">
        <div class="medium-2 cell">
          <input name="keywords" type="text" placeholder="Keywords">
        </div>
        <div class="medium-2 cell">
          <input name="city" type="text" placeholder="City">
        </div>
        <div class="medium-2 cell">
          <select name="county">
            <option selected="true" disabled="disabled">County</option>
            {% for key,value in county_choices.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="medium-2 cell">
          <select name="bedrooms">
            <option selected="true" disabled="disabled">Bedrooms</option>
            {% for key,value in bedroom_choices.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="medium-2 cell">
          <select name="price">
            <option selected="true" disabled="disabled">Price</option>
            {% for key,value in price_choices.items %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="medium-2 cell">
          <button type="submit" class="button">Search</button>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="recent-container">
  <div class="grid-container">
    <div class="recent-listings">
      <h2>Recent Listings</h2>
      <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium">
        {% if listings %}
            {% for listing in listings %}
            <div class="cell small-4">
              <div class="listing-card margin-bottom">
                <div class="listing-card-head">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="{{ listing.photo_main.url }}" alt="" data-equalizer-watch>
                  <div class="content-details fadeIn-right">
                    <a href="{% url 'listing' listing.id %}">View More</a>
                  </div>
                </div>
                <div class="listing-card-bottom">
                  <h2>{{ listing.title }}</h2>
                  <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
                  <ul>
                    <li><i class="fas fa-bed"></i>{{ listing.bedrooms }} Bedrooms</li>
                    <li><i class="fas fa-bath"></i>{{ listing.bathrooms }} Bathrooms</li>
                    <li><i class="fas fa-th-large"></i>{{ listing.sqft }} Sqft</li>
                    <li><i class="fas fa-car"></i> {{ listing.garage }} Garage</li>
                  </ul>
                  <h3>&#163; {{ listing.price | intcomma }}</h3>
                  <hr>
                  <h4 class="float-left"><i class="fas fa-user"></i>{{ listing.realtor }}</h4>
                  <h4 class="float-right"> <i class="far fa-clock"></i>{{ listing.list_date | timesince }}</h4>
                  {% if listing.for_sale_or_rent == 'For Sale' %}
                    <span class="sale">For Sale</span>
                  {% else %}
                    <span class="rent">To Rent</span>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
        {% else %}
          <h3>No Listings Available</h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}