/* General */
h1, h2, h3, h4, h5, p, span, li, a {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0;
}

/* Navigation */
.nav-container i {
  font-size: 14pt;
  padding-right: 10px;
}

.login-container a {
  margin-left: 25px;
  font-size: 9pt;
  color: #fff;
}

.login-container {
  float: right;
  display: inline-block;
  padding-top: 11px;
}

.logo {
  width: 50px;
}

.navigation {
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.navigation li {
  display: inline-block;
  margin-right: 80px;
}

.nav-container a {
  color: #fff;
  text-transform: uppercase;
  font-size: 11pt;
}

.nav-container {
  background: #333;
  padding: 15px 0;
}

.navigation a:hover {
  color: #0098ef;
}

footer {
  text-align: center;
  padding: 40px;
  background: #0098ef;

}

.property-search {
  text-align: center;
  padding: 200px 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/houses.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.property-search .grid-padding-x>.cell {
  padding-left: 5px;
  padding-right: 5px;
}

.property-search .button {
  width: 100%;
  margin: 0;
  border-radius: 5px;
  background: #0098ef;
  text-transform: uppercase;
}

.property-search h2 {
  font-size: 40pt;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}

.property-search h4 {
  color: #fff;
  font-size: 15pt;
  margin-bottom: 40px;
}

.property-search form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.property-search form select {
  margin: 0;
  border-radius: 5px;
  font-size: 11pt;
  font-weight: bold;
}

.recent-listings {
  padding: 100px 0;
  background: #eee;
}

.listing-card-head {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.listing-card {

      box-shadow: 0px 0px 7px 0px rgba(79, 79, 79, 1);
}

.listing-card-head:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-right {
  left: 80%;
}

.content-details a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16pt;
  font-weight: 600;
}

.content-details a:hover {
  color: #0098ef;
}

.listing-card-head .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.listing-card-head:hover .content-overlay {
  opacity: 1;
}

.listing-card-head img {
  width: 100%;
}

.listing-card-bottom h2 {
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 15px;
}

.listing-card-bottom {
  padding: 25px;
  background: #fff;
}

.listing-card-bottom i {
  color: #0098ef;
  margin-right: 10px;
}

.listing-card-bottom p {
  margin-bottom: 15px;
  font-size: 11pt;
}

.listing-card-bottom ul {
  list-style: none;
  margin: 0 0 15px 0;
  float: left;
  width: 100%
}

.listing-card-bottom {
  border-bottom: 3px solid #0098ef;
  display: inline-block;
}

.listing-card-bottom li {
  width: 50%;
  font-size: 11pt;
  float: left;
  line-height: 40px;
}

.listing-card-bottom i {
  margin-right: 10px;
}

.listing-card-bottom h3 {
  font-weight: 600;
  font-size: 14pt;
}

.listing-card-bottom h4 {
  font-size: 10pt;
  display: inline;
}

.listing-card span {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 10pt;
  color: #fff;
  border-radius: 2px;
}

.sale {
  background: #e54242;
}

.rent {
  background: #ffb200;
}

.listing-card {
  position: relative;
}

.about-us {
  padding: 100px;
  color: red;
}

.page-header {
  text-align: center;
  padding: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/houses2.jpg);
  background-position: center;
  color: #fff;
}

.page-header i {
  display: inline;
  margin-right: 5px;
}

.page-header h6 {
  display: inline;
}

.content-section {
  padding: 80px 0;

}

.breadcrumb-container {
  background: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.about-section h3 {
  margin-bottom: 20px;
  font-size: 15pt;
}

.about-section img {
  margin-bottom: 20px;
}

.about-section h4 {
  font-size: 13pt;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 11pt;
}

.breadcrumbs {
  margin: 0;
}

.breadcrumbs li {
  font-size: 11pt;
}

.seller-info {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px;
}

.seller-info p {
  margin: 0;
  font-size: 10pt;
}

.seller-info h6 {
  color: #0098ef;
  margin: 0;
}

.seller-of-the-month img {
  margin: 0;
}

.text-divider {
  padding: 80px;
  text-align: center;
  background: #1f3c58;
  color: #fff;
}

.text-divider p {
  margin: 0;
}

.text-divider h3 {
  margin-bottom: 20px;
}

.active {
  color: #0098ef !important;
}

.margin-bottom {
  margin-bottom: 40px;
}

.back-button {
  background: #eee;
  padding: 10px;
  font-size: 10pt;
  color: #333;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.listing-details {
  list-style: none;
  margin: 0 0 20px 0;
}

.listing-details li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #0098ef;
  font-size: 9pt;
}

.listing-details i {
  margin-right: 5px;
}

.enquiry {
  margin-top: 20px;
  background: #0098ef;
  border-radius: 5px;
}

.property-search.search-page {
  padding: 100px;
}

.login-page {
background: #eee;
height: 100%;
}

.log-in-box {
  padding: 40px;
  background: #fff;
  margin-top: 80px;
  border-radius: 5px;
}

.log-in-box.register {
  width: 800px;
}

.log-in-box h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #0098ef;
}

.log-in-box input {
  margin-bottom: 30px !important;
  border-radius: 5px;
}

.submit {
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background: #0098ef;
  margin-bottom: 20px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.log-in-box.register .submit {
  width: 30%;
}

.log-in-box p {
  text-align: center;
  font-size: 10pt;
  margin: 0;
}

.dashboard td {
  font-size: 10pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reveal {
  padding: 60px;
  border-radius: 5px;
}

.reveal input, .reveal textarea {
  border-radius: 5px;
  margin-bottom: 20px;
}

.reveal h2 {
  text-align: center;
  color: #0098ef;
}

.property-search form input {
  margin: 0;
  border-radius: 5px;
}

.recent-listings h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #0098ef;
}

.callout {
  text-align: center;
}

.callout p, .callout strong {
  display: inline-block;
}

.home-alert {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 40px;
}

.article-list {

  list-style: none;
  margin: 0;
}

.article-list li {

  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.article-list p{

  margin: 0;
  font-size: 11pt;
  color: #848484;
}

.article-list img{

  border-radius: 5px;
}

.article-list .button {

  margin: 1rem 0 0;
  background: #0098ef;
  border-radius: 5px;
}