{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="text-divider">
  <h3>Browse Our Properties</h3>
  <p>Curabitur varius, libero id pulvinar egestas, quam turpis iaculis odio, eu blandit orci enim vel dui!</p>
</div>


<div class="content-section">
  <div class="grid-container">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>
          <span class="show-for-sr">Current: </span> Listings
        </li>
      </ul>
    </nav>
    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <div class="listing-card margin-bottom">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      <div class="cell small-4">
        <div class="listing-card margin-bottom">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      <div class="cell small-4">
        <div class="listing-card margin-bottom">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      <div class="cell small-4">
        <div class="listing-card">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      <div class="cell small-4">
        <div class="listing-card">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      <div class="cell small-4">
        <div class="listing-card">
          <div class="listing-card-head">
            <img src="{% static 'img/house.jpg' %}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>Real House Luxury Villa</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>5 Bedrooms</li>
              <li><i class="fas fa-bath"></i>3 Bathrooms</li>
              <li><i class="fas fa-th-large"></i>720 sq ft</li>
              <li><i class="fas fa-car"></i>1 Garage</li>
            </ul>
            <h3>$ 230,000</h3>
            <hr>
            <h4><i class="fas fa-user"></i>Brandon Dickson</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}