{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<div class="text-divider">
  <h3>Browse Our Properties</h3>
  <p>Curabitur varius, libero id pulvinar egestas, quam turpis iaculis odio, eu blandit orci enim vel dui!</p>
</div>


<div class="content-section">
  <div class="grid-container">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="{% url 'index' %}">{{Home}}</a></li>
        <li>
          <span class="show-for-sr">Current: </span> Listings
        </li>
      </ul>
    </nav>
    <div class="grid-x grid-margin-x">
      {% if listings %}
      {% for listing in listings %}
      <div class="cell small-4">
        <div class="listing-card margin-bottom">
          <div class="listing-card-head">
            <img src="{{ listing.photo_main.url }}" alt="">
          </div>
          <div class="listing-card-bottom">
            <h2>{{ listing.title }}</h2>
            <p><i class="fas fa-map-marker-alt"></i>Est St, 77 - Central Park South, NYC</p>
            <ul>
              <li><i class="fas fa-bed"></i>{{ listing.bedrooms }} Bedrooms</li>
              <li><i class="fas fa-bath"></i>{{ listing.bathrooms }} Bathrooms</li>
              <li><i class="fas fa-th-large"></i>{{ listing.sqft }} Sqft</li>
              <li><i class="fas fa-car"></i> {{ listing.garage }} Garage</li>
            </ul>
            <h3>£ {{ listing.price | intcomma }}</h3>
            <hr>
              <h4><i class="fas fa-user"></i>{{ listing.realtor }}</h4>
              <h4 class="float-right"> {{ listing.list_date | timesince }}</h4>
            <span class="sale">For Sale</span>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>No Listings Available</h3>
      {% endif %}
    </div>
  </div>


  {% endblock %}