{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}

<div class="page-header">
  <h2>{{ listing.title }}</h2>
  <i class="fas fa-map-marker"></i>
  <h6>{{ listing.city }}, {{ listing.county }}, {{ listing.postcode }}</h6>
</div>

<div class="content-section">
  <div class= "about-section">
    <div class="grid-container">
      <nav class="breadcrumb-container "aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'listings' %}">Listings</a></li>
          <li>
            <span class="show-for-sr">Current: </span> {{ listing.title }}
          </li>
        </ul>
      </nav>
      <a href="{% url 'listings' %}" class="back-button">Back To Listings</a>
      <div class="grid-x grid-margin-x">
        <div class="cell small-9">
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-auto-play="false">
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <li class="is-active orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_main.url }}" alt="Space">
                  </figure>
                </li>
                {% if listing.photo_1 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_1.url }}" alt="Space">
                </li>
                {% endif %}
                {% if listing.photo_2 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_2.url }}" alt="Space">
                </li>
                {% endif %}
                {% if listing.photo_3 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_3.url }}" alt="Space">
                  </figure>
                </li>
                {% endif %}
                {% if listing.photo_4 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_4.url }}" alt="Space">
                  </figure>
                </li>
                {% endif %}
                {% if listing.photo_5 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_5.url }}" alt="Space">
                  </figure>
                </li>
                {% endif %}
                {% if listing.photo_6 %}
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="{{ listing.photo_6.url }}" alt="Space">
                  </figure>
                </li>
                {% endif %}
              </ul>
            </div>
            <nav class="orbit-bullets">
              <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
              {% if listing.photo_1 %}
              <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              {% endif %}
              {% if listing.photo_2 %}
              <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              {% endif %}
              {% if listing.photo_3 %}
              <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
              {% endif %}
              {% if listing.photo_4 %}
              <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
              {% endif %}
              {% if listing.photo_5 %}
              <button data-slide="5"><span class="show-for-sr">Fourth slide details.</span></button>
              {% endif %}
              {% if listing.photo_6 %}
              <button data-slide="6"><span class="show-for-sr">Fourth slide details.</span></button>
              {% endif %}
            </nav>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell small-6">
              <ul class="listing-details">
                <li>
                  <i class="fas fa-money-bill-alt"></i>
                  Price
                  <span class="float-right">&#163;{{ listing.price | intcomma }}</span>
                </li>
                <li>
                  <i class="fas fa-bed"></i>
                  Bedrooms
                  <span class="float-right">{{ listing.bedrooms }}</span>
                </li>
                <li>
                  <i class="fas fa-bath"></i>
                  Bathrooms
                  <span class="float-right">{{ listing.bathrooms }}</span>
                </li>
                <li>
                  <i class="fas fa-car"></i>
                  Garage
                  <span class="float-right">{{ listing.garage }}</span>
                </li>
              </ul>
            </div>
            <div class="cell small-6">
              <ul class="listing-details">
                <li>
                  <i class="fas fa-th-large"></i>
                  Square Feet
                  <span class="float-right">{{ listing.sqft }}</span>
                </li>
                <li>
                  <i class="fas fa-pencil-ruler"></i>
                  Lot Size
                  <span class="float-right">{{ listing.lot_size }}</span>
                </li>
                <li>
                  <i class="far fa-clock"></i>
                  Listing Date
                  <span class="float-right">{{ listing.list_date | timesince }}</span>
                </li>
                <li>
                  <i class="fas fa-user"></i>
                  Realtor
                  <span class="float-right">{{ listing.realtor }}</span>
                </li>
              </ul>
            </div>
          </div>
          <p>{{ listing.description }}</p>
        </div>
        <div class="cell small-3">
              <div class="seller-of-the-month">
                <img src="{{ listing.realtor.photo.url }}" alt="">
                <div class="seller-info">
                  <h5>Property Realtor</h5>
                  <h6>{{ listing.realtor.name }}</h6>
                </div>
              </div>
        <button class="button enquiry" data-open="exampleModal1">Make Enquiry</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reveal" id="exampleModal1" data-reveal>
  <h2>Enquire Now</h2>
  <form class="{% url 'contact' %}" action="index.html" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
      <input type="hidden" name="user_id" value="{{ user.id }}">
    {% else %}
      <input type="hidden" name="user_id" value="0">
    {% endif %}
    <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <label>Property:
      <input type="text" name="listing" value="{{ listing.title }}" disabled>
    </label>
    <label>Name:
      <input type="text" name="name" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
    </label>
    <label>Email:
      <input type="text" name="email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
    </label>
    <label>Phone:
      <input type="text" name="phone" value="" required>
    </label>
    <label>Message:
      <textarea name="message"></textarea>
    </label>
    <button type="submit" class="button submit">Submit</button>
  </form>
</div>

{% endblock %}