{% extends "base.html" %}

{% block content %}
<div style="background: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.65)),url({{ article.image.url }}); background-position:center; background-attachment: fixed; background-size: cover;
;" class="news-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2>{{ article.title }}</h2>
        <h5>{{ article.published_date | date:"d F Y"}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="content-section news">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin">
      <div class="cell small-8">
        <a href="{% url 'news' %}" class="back-button">Back To News</a>
        <p>{{ article.content|linebreaks }}</p>
      </div>
      <div class="cell small-4">
        <div class="seller-of-the-month">
          <img src="{{ article.author.photo.url }}" alt="">
          <div class="seller-info">
            <h5>Written By</h5>
            <h6>{{ article.author.name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}